/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');

/* TIMER */

main {
  margin: 0 auto;
}

#datetime-picker {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  max-height: 40px;
  padding: 8px 16px;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-top: 36px;
  margin-bottom: 32px;
  margin-right: 8px;
}

button[data-start] {
  border-radius: 8px;
  border: none;
  padding: 8px 16px;
  width: 75px;
  height: 40px;
  background-color: #4e75ff;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  padding: 8px 16px;
  margin-top: 36px;
  margin-bottom: 32px;
}

button:disabled {
  background-color: #cfcfcf;
  color: #989898;
}

.timer {
  display: flex;
  margin: 0 auto;
  font-weight: 400;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  gap: 24px;
  width: 346px;
  height: 72px;
}

.value {
  order: 1;
}
.label {
  order: 0;
  font-size: 16px;
  text-transform: uppercase;
}

.field {
  text-align: center;
}

/* SNACKBAR */

button {
  border-radius: 8px;
  border: none;
  padding: 8px 16px;
  width: 360px;
  height: 40px;
  background-color: #4e75ff;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
  padding: 8px 16px;
  margin-top: 24px;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  max-width: 560px;
}

.form label {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  gap: 8px;
  text-align: left;
}

.form input[type='number'] {
  padding: 18px 20px;
  font-size: 18px;
  border: 2px solid #c6c6c6;
  border-radius: 10px;
  outline: none;
}

.form input[type='number']:focus {
  border-color: #6d92ff;
}

fieldset {
  border: 2px solid #c6c6c6;
  border-radius: 10px;
  justify-content: center;
}

legend {
  font-size: 20px;
  padding: 0 12px;
  text-align: left;
}

fieldset label {
  display: flex;
  align-items: center;
  font-size: 20px;
  gap: 12px;
}

fieldset {
  display: flex;
  gap: 60px;
  align-items: center;
}
